html, body, .App, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  color: #ffffff;
  background-color: #FF6666;
}